{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'rekruto/css/test_html.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Message</title>
</head>
<body>
    <div class="content">
        <h1 class="text">Hello {{ name|title }} {{ message|title }}</h1>
        <h1 class="comment">{{ comment }}</h1>
        <br><br>
        <img src="{% static 'rekruto/img/images.jfif' %}" alt="">
    </div>
</body>
</html>